* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main_container {
  width: 320px;
  padding: 14px;
  display: flex;
  flex-direction: column;
}

.description {
  padding: 10px;
}

.logo_container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.input_container {
  padding: 6px 3px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input_container input {
  padding: 6px 12px;
  border-radius: 4px;
  outline: none;
}

.check_button {
  padding: 8px 12px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 700;
}

.check_button:hover {
  background-color: #2980b9;
}

#response,
#response_plus {
  padding: 8px;
}

#response div,
#response strong,
#response_plus div,
#response_plus strong {
  font-size: 14px;
  padding: 2px 0;
}

.hidden {
  display: none;
}
